@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../../node_modules/uikit/src/scss/uikit-theme.scss";

$panel_height: 64px;

h1 {
    font-size: 1rem;
}

iframe {
    position: absolute;
    top: $panel_height;
    left: 0;
    width: 100%;
    height: calc(100vh - #{$panel_height});
}

.panel {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    height: $panel_height;
    box-sizing: border-box;
    border-bottom: 1px solid red;


    button {
        border-radius: 5px;
    }

    .drop {
        width: 500px;
    }
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(black, .5);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;

    &.active {
        visibility: visible;
        opacity: 1;
    }

    svg circle {
        color: #fff;
    }
}
.login-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(black, .5);

    .login {
        width: 600px;
        height: 300px;
        padding: 30px;
        border-radius: 4px;
        background: #fff;
    }
}
